@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0b1020;
  color: #f1f5f9;
  font-family: 'IBM Plex Sans Arabic', Tahoma, sans-serif;
}
.font-quran {
  font-family: 'KFGQPC Uthman Taha Naskh', 'Amiri Quran', serif;
}
